In [1]:

from matplotlib.font_manager import FontProperties
import pandas as pd
import sys
import matplotlib.pyplot as plt
font = FontProperties(fname=r"c:\windows\fonts\msyh.ttf", size=14)

!type charge\2015analysis.csv

In [2]:
import csv
db = pd.read_csv('charge/2015analysis.csv',encoding='gbk')
len(db)

371

In [3]:
data = db.drop(0)
data['Date'] = pd.to_datetime(data['Date'], format='%Y/%m/%d')
mdate=[]
for m in data.Date:
    months = pd.Period(m, freq='M')
    mdate.append(months)
mdate
data.Date = mdate

In [4]:
data[:10]

       Date   Cost Category Details       Tips     Out    In   Surp Subtotal
1   2015-01 -100.0     固定支出      话费  2015/1/31 -3815.6  2816 -999.6      NaN
2   2015-01 -500.0       现金  成都银行取钱        NaN     NaN   NaN    NaN      NaN
3   2015-01   -2.0       其他    动车退票        NaN     NaN   NaN    NaN      NaN
4   2015-01  -10.0       娱乐      彩票        NaN     NaN   NaN    NaN      NaN
5   2015-01   -3.8       餐饮      酸奶        NaN     NaN   NaN    NaN      NaN
6   2015-01 -149.0     生活用品     优衣库        NaN     NaN   NaN    NaN      NaN
7   2015-01  -90.0       餐饮     星巴克        NaN     NaN   NaN    NaN      NaN
8   2015-01 -246.0       购物    超市购物        NaN     NaN   NaN    NaN      NaN
9   2015-01 -101.0       餐饮     一风堂        NaN     NaN   NaN    NaN      NaN
10  2015-01  -78.0     生活用品   优衣库袜子        NaN     NaN   NaN    NaN      NaN

In [5]:
df_keys = ['Date', 'Category', 'Cost']

In [6]:
df = pd.DataFrame(data, columns = df_keys)

df

        Date Category    Cost
1    2015-01     固定支出  -100.0
2    2015-01       现金  -500.0
3    2015-01       其他    -2.0
4    2015-01       娱乐   -10.0
5    2015-01       餐饮    -3.8
6    2015-01     生活用品  -149.0
7    2015-01       餐饮   -90.0
8    2015-01       购物  -246.0
9    2015-01       餐饮  -101.0
10   2015-01     生活用品   -78.0
11   2015-01       购物  -150.0
12   2015-01       购物  -850.0
13   2015-01       购物  -260.0
14   2015-01      电子类   -37.6
15   2015-01       娱乐   -10.0
16   2015-01       餐饮  -164.3
17   2015-01       娱乐    -6.0
18   2015-01       现金  -500.0
19   2015-01       娱乐   -40.0
20   2015-01     固定支出   -40.0
21   2015-01       餐饮   -79.0
22   2015-01       餐饮   -53.1
23   2015-01       娱乐   -39.8
24   2015-01       娱乐   -12.0
25   2015-01       现金  -300.0
26   2015-01       娱乐   -26.0
27   2015-01       娱乐   -28.0
28   2015-01       娱乐    60.0
29   2015-02       其他  -462.0
30   2015-02       娱乐   -70.0
..       ...      ...     ...
341  2015-10       餐饮   -33.5
342  2015-10       购物 -1200.0
343  2015-10       购物 -5700.0
344  2015-10       餐饮   -23.0
345  2015-10       交通    -6.0
346  2015-10       餐饮   -19.0
347  2015-10       餐饮   -12.0
348  2015-10       娱乐   -63.0
349  2015-11       购物  -219.0
350  2015-11       餐饮   -33.0
351  2015-11       餐饮   -45.0
352  2015-11       娱乐   -70.0
353  2015-11       餐饮   -90.5
354  2015-11       购物  -110.0
355  2015-11       购物   -29.9
356  2015-11       其他 -1000.0
357  2015-11     固定支出   -98.5
358  2015-11       购物   -59.4
359  2015-11       购物   -72.3
360  2015-11       购物   -62.5
361  2015-11       交通   -13.8
362  2015-11       娱乐  -500.0
363  2015-11       餐饮   -18.0
364  2015-11       餐饮   -38.7
365  2015-11       交通   -10.0
366  2015-11       餐饮   -33.0
367  2015-11       购物  -142.6
368  2015-11       购物  -169.0
369  2015-11       其他 -1200.0
370  2015-11       娱乐   -10.0

[370 rows x 3 columns]

In [7]:
result = df.groupby(['Date']).Cost.sum()
result

Date
2015-01    -3815.60
2015-02    -3343.10
2015-03    -4027.50
2015-04    -6063.70
2015-05    -3728.80
2015-06    -2066.90
2015-07    -4871.80
2015-08    -4225.41
2015-09   -11062.90
2015-10   -13600.10
2015-11    -4025.20
Freq: M, Name: Cost, dtype: float64

In [8]:
table_cost = df.pivot_table('Cost', index = 'Date', columns='Category', aggfunc=sum)
table_cost

Category      交通      其他    固定支出     娱乐    现金   生活用品    电子类      购物      餐饮
Date
2015-01      NaN    -2.0  -140.0 -111.8 -1300 -227.0  -37.6 -1506.0  -491.2
2015-02      NaN  -847.0  -248.5 -370.0 -1620    NaN  -36.6     NaN  -221.0
2015-03      NaN -1800.0   -18.0  -57.0 -1200    NaN  -19.0  -237.0  -696.5
2015-04      NaN  -419.0   -32.0    NaN -1020 -135.0 -978.0 -2675.8  -803.9
2015-05      NaN     NaN   -99.5 -444.0  -880    NaN    NaN -1924.3  -381.0
2015-06      NaN  -374.0  -140.5 -153.7  -740    NaN -222.0     NaN  -436.7
2015-07  -503.00  -800.0  -163.5  -39.8   NaN    NaN    NaN -1368.6 -1996.9
2015-08  -421.11  -787.4  -130.5 -124.4   NaN -370.7 -240.0 -1255.5  -895.8
2015-09  -189.50     NaN  -368.0  -89.8   NaN -300.0    NaN -8989.6 -1126.0
2015-10   -15.00 -1363.0 -1114.5 -355.6   NaN -113.0    NaN -9421.0 -1218.0
2015-11   -23.80 -2200.0   -98.5 -580.0   NaN    NaN    NaN  -864.7  -258.2

In [9]:
#result.plot(kind='barh')
table_cost.plot(subplots=True, layout=(3,3), kind='bar', figsize=(8,16))
plt.show()

In [10]:
df['Cost'].sum()

-60831.010000000009